    <div id="header">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-12 col-md-12 hi" style="padding: 0% 5%;">
                <form action="/admin/admin-login-action" method="POST" id="adminLogin" role="form" >
                    <div class="login-head form-label col-md-12">Admin Login</div>
                    <div class="mb-3 hi col-md-12">
                      <label for="exampleInputEmail1" class="form-label">Username</label>
                      <input type="text" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
                    
                    </div>
                      <div class="mb-3 hi col-md-12">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" name="password" >
                      {{#if logErr}}<p class="error" style="color: red">Invalid username or password</p>{{/if}}
                    </div >
                    <div class="hi">
                    <button type="submit" class="btn btn-primary btn-block col-12 ">Sign In</button>
                   </div>
                </form>
            </div>
        </div>
    </div>
    </div>